.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: var(--primary-color); 
  }
  html {
    scroll-behavior: smooth;
  }
    .header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    z-index: 1000;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 5px;
  }
  
  .nav-link {
    color: white;
    text-decoration: solid;
    font-size: 15px;
  }
  
  
  .nav-link:hover {
    color: #ddd;
  }
  
  .intro_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 700px; 
    text-align: center;
  }
  
  .intro_sec .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .intro_sec h1, .intro_sec h2, .intro_sec p {
    margin: 20px 0;
  }
  
  .intro {
    max-width: 600px;
    margin: 0 auto;
  }
  
  @media (max-width: 991.98px) {
    .intro_sec {
      display: block;
      height: auto !important;
      text-align: center;
    }
    .intro_sec .intro {
      max-width: 90%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .ac_btn {
    padding: 10px 30px;
    color: var(--secondary-color);
    position: relative;
    border: 2px solid var(--secondary-color);
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
  }
  
  .ac_btn:hover {
    box-shadow: 8px 8px 0px var(--text-color), -8px -8px 0px var(--text-color);
  }
  
  .intro_sec .text h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
  }
  
  @media (max-width: 991.98px) {
    .intro_sec .text h1 {
      font-size: 30px;
    }
  }
  
  /* Responsive Sizing for Background Image */
  .h_bg-image {
    background-size: cover;
    background-position: center;
    min-height: 600px;
    width: 100%;
  }
  
  @media (max-width: 991.98px) {
    .h_bg-image {
      height: 400px;
      min-height: 60vh;
      margin-bottom: 20px;
    }
  }

