.nebula-details {
  margin: 20px 0;
}

.nebula-info {
  margin-bottom: 20px; 
}

.nebula-name {
  font-size: 1.75rem; 
  margin-bottom: 10px; 
}

.flex-container {
  display: flex;
  align-items: flex-start;
  gap: 20px; 
}

.nebula-image-container {
  position: relative; /* Added for positioning the play icon */
}

.nebula-image {
  width: 100%;
  max-width: 400px; 
  height: auto;
}

.play-icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #495D87; /* Button background color */
  color: #fff; /* Icon color */
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  font-size: 1.25rem; /* Icon size */
}

.infoBox {
  flex: 1; 
}

.t_border {
  border: 1px solid #495D87; 
}
