.video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
  }
  
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 800px; 
    height: auto;
    margin: 0 auto; 
  }
  
  .video-element {
    width: 100%; 
    max-width: 100%; 
    outline: none;
    border: none;
    border-radius: 8px; 
  }
  